@model IEnumerable<DuoChip.Models.Product>

@if (Model != null)
{
    var count = Model.Count();
    if (count == 0)
    {
        <h2>Ничего не найдено</h2>
    }
    else
    {
        <h2>Найдено результатов @count</h2>
    }
        <table class="itemlist itemlist_main" id="itemlist">
         @foreach (var x in Model)
         {
            @Html.Partial("ProductView", x);
         } 
        </table>
}